.brd{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    background-color: gray;
}
.brd1{
    height: 90px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(3, 3, 80);
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.brd2{
    border-radius: 70px;
    background-color: rgb(3, 3, 80);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 6rem!important;
    color: rgb(4, 4, 83);
}
